* {
  touch-action: manipulation;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  --pink: #ff85c0;
  --dark-pink: #520339;
  --magenta: #eb2f96;
  --gray: #d9d9d9;
  background-color: var(--pink);
}

h1 {
 text-align: center;
 color: white;
}

#game-board {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.letter-box {
  border: 2px solid var(--gray);
  border-radius: 8px;
  margin: 2px;
  font-size: 2.5rem;
  font-weight: 700;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: white;
}

.letter-row {
  display: flex;
}

.hint-link {
  display: block;
  text-align: center;
  margin: 10px 0;
  font-size: 18px;
  display: none;
  color: white;
}

.hint {
  text-align: center;
  display: none;
  color: white;
}

#keyboard-cont {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#keyboard-cont div {
  display: flex;
}

.row {
  display: flex;
  flex-wrap: nowrap;
  gap: 2px;
  margin-bottom: 2px;
  justify-content: space-between;
  width: 100%;
}

.row:first-child {
  gap: 1px;
}

.keyboard-button {
  font-size: 1rem;
  min-height: 50px;
  font-weight: 700;
  padding: 0.5rem;
  cursor: pointer;
  text-transform: uppercase;
  border: 1px solid var(--gray);
  border-radius: 8px;
  background-color: var(--pink);
  color: white;
}

.keyboard-button.enter {
  font-size: 0.6rem;
}

#toast-container {
  width: calc(100% - 24px);
}

#toast-container > .notification {
  width: 100%;
  background-color: white;
  opacity: 1;
  color: var(--pink);
  background-size: 25px;
}

#toast-container > .notification.toast-error {
  background-image: url("./error-heart.png") !important;
}

#toast-container > .notification.toast-info {
  background-image: url("./info-heart.png") !important;
}

#toast-container > .notification.toast-success {
  background-image: url("./success-heart.png") !important;
}