body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #ffd6e7;
}

h1 {
 text-align: center;
}

#game-board {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.letter-box {
  border: 2px solid gray;
  border-radius: 3px;
  margin: 2px;
  font-size: 2.5rem;
  font-weight: 700;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  background-color: white;
}

.filled-box {
  /* border: 2px solid black; */
}

.letter-row {
  display: flex;
}

#keyboard-cont {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#keyboard-cont div {
  display: flex;
}

.second-row {
  margin: 0.5rem 0;
}

.row {
  display: flex;
  flex-wrap: nowrap;
  gap: 2px;
  margin-bottom: 2px;
  justify-content: space-between;
  width: 100%;
}

.row:first-child {
  gap: 1px;
}

.keyboard-button {
  font-size: 1rem;
  min-height: 50px;
  font-weight: 700;
  padding: 0.5rem;
  /* margin: 0 2px; */
  cursor: pointer;
  text-transform: uppercase;
  border: 1px solid #8c8c8c;
  border-radius: 3px;
  background-color: #ffadd2;
}
